body {

}

h1 {

}

h2 {

}

.sidebar h3 {
  color: red;
}

p {

}

.sidebar ul {
  list-style: none;
}

li {

}

.header {
  float: left;
  width: 100%;
  background-color: yellow;
}

.main {
  float: left;
  width: 70%;
  background-color: red;
}

.sidebar {
  float: right;
  width: 30%;
  background-color: black;
  color: white;
}

.band {
  max-width: 450px;
}
